body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}
section{
  margin: 20px;
}

li{
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  
}
a{
  text-decoration: none;
  color: goldenrod;
}
p{
  color: red;
}